.cycles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  gap: 1.6rem;
}

.cycleDots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.cycleDot {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--primary);
  transition: all 0.2s ease-in-out;
}

.cycleDot:hover {
  scale: 1.2;
  cursor: pointer;
  filter: brightness(0.9);
}

.workTime {
  background: var(--warning);
}

.shortBreakTime {
  background: var(--primary);
}

.longBreakTime {
  background: var(--info);
}
